.container-ImageConverter {
  padding: 0;
  margin: 0;
  border: 0;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-position: center;
  background: url(https://images.unsplash.com/photo-1593062087953-b837e95b7095?crop=entropy&cs=srgb&fm=jpg&ixid=M3wzMjM4NDZ8MHwxfHJhbmRvbXx8fHx8fHx8fDE3MDI1MzI4MTR8&ixlib=rb-4.0.3&q=85);
  backdrop-filter: blur(10px);
  box-sizing: border-box;
  font-family: arial, sans-serif;
}

#cbwrap {
  background: rgba(255, 255, 255, 0.9);
  width: 600px;
  padding: 30px;
  border-radius: 10px;

  & label,
  & input,
  & select {
    display: block;
    width: 100%;
  }
  & label {
    margin: 10px 0;
    font-weight: 700;
    color: #d00;
  }
  & label {
    margin: 10px 0;
    font-weight: 700;
    color: #d00;
  }
  & input[type="file"],
  & select {
    padding: 10px;
    border: 1px solid #c5c5c5;
    background: #fff;
  }
  & input[type="submit"] {
    margin-top: 20px;
    padding: 10px;
    border: 0;
    color: #fff;
    background: #3561c7;
    cursor: pointer;
  }

  & #cbtitle {
    margin: 0 0 30px;
    padding: 0;
    text-transform: uppercase;
  }
  & #cbinfo {
    margin-top: 30px;
    padding-top: 15px;
    border-top: 1px solid #ddd;
    font-size: 13px;
    font-weight: 700;
  }
  & #cbinfo a {
    text-decoration: none;
    padding: 5px;
    color: #fff;
    background: #a91616;
  }
}
